@import '~@/defined.less';
@import '../defined.less';
@import '~@/animation.less';

.banner {
  background-image: url('~@/assets/Home/background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  .font-family-barlow;

  .avatar {
    background-image: url('~@/assets/Home/avatar.jpg');
    background-repeat: no-repeat;
    background-position: 36% center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
  }

  .row {
    .part-container;
    display: flex;
    justify-content: space-between;
    .col-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: @font-white;

      .info {
        .font-family-open-sans;
      }
    }

    .col-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  // 小屏
  &.grid-xs,
  &.grid-sm {
    .avatar {
    }
  }

  // 中屏
  &.grid-md {
    --tag-padding: 15px;

    .avatar {
      width: 300px;
      height: 360px;
    }

    .col-left {
      width: 45%;
    }
    .description {
      .hello {
        font-size: 26px;
      }
      .name {
        font-size: 46px;
        margin-bottom: 20px;
      }
      .job {
        font-size: 18px;
        margin-bottom: 20px;
      }
      .info {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
  }

  // 大屏
  &.grid-lg,
  &.grid-xl,
  &.grid-xxl {
    --tag-padding: 20px;

    .avatar {
      width: 370px;
      height: 450px;
    }

    .col-left {
      width: 45%;
    }
    .description {
      .hello {
        font-size: 30px;
      }
      .name {
        font-size: 65px;
        margin-bottom: 20px;
      }
      .job {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .info {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }

  .button-group {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    > div {
      display: flex;
      align-items: center;
      height: 50px;
      cursor: pointer;
    }
    .button {
      transition: background-color ease 0.3s;
      background-color: @active-darkblue;
      border-radius: 50px;
      padding: 0 40px;
      &:hover {
        background-color: @active-red;
      }
    }
    .simple-button {
      margin-left: 50px;
    }
  }

  .flag {
    display: inline-flex;
    align-items: center;
    padding: var(--tag-padding);
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    > .num {
      grid-area: 1 / 1 / 3 / 2;
      padding-right: var(--tag-padding);
      font-size: 45px;
    }
    > .text {
      display: flex;
      flex-direction: column;
    }
  }

  .trophy {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    right: -10%;
    top: -10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100px;
    height: 100px;
  }

  .circularText {
    position: absolute;
    bottom: -70px;
    left: -70px;
    .animate-rotate(8s);
  }
}
