.about {
  width: var(--container-max-width);
  height: 100vh;
  display: flex;
  background-image: url('~@/assets/Home/background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.scrollContainer {
  flex: 1;
  height: 100%;
  overflow: auto;
}
.scroller {
  height: 400vh;
  background-color: rgb(255, 187, 0);
}
