@import '~@/defined.less';

.topMenu {
  display: inline-flex;
  align-items: center;
  height: @menu-height;
  user-select: none;
  cursor: pointer;
  > img {
    padding-bottom: 5px;
    height: 40px;
  }
  > span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 0 5px;
  }
}
