.fileTable {
  .tr {
    display: flex;
    align-items: center;
    padding: 0 5px;
    .td {
      padding-left: 5px;
      &:nth-child(1) {
        // margin-right: auto;
        flex: 1;
        padding-left: 0;
        border: none;
      }
      &:nth-child(2) {
        width: 180px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        width: 150px;
      }
    }
  }
  .header {
    background-color: #eee;
    color: #999;
    font-size: 12px;
    margin-bottom: 6px;
    height: 30px;
    .td {
      border-left: 1px solid #ccc;
    }
  }
  .tbody {
    min-height: 60vh;
    .tr {
      border: #fff solid 1px;
      height: 26px;
      background-color: #fff;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        background-color: #e5f3ff;
        border: #e5f3ff solid 1px;
      }
      &.active {
        background-color: #cce8ff;
        border: #b6deff solid 1px;
      }
    }
    .td {
      color: #777;
      font-size: 13px;
      &:nth-child(1) {
        color: #333;
      }
    }
  }
}

.popoverContent {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: -5px -15px;
  width: 100px;
  > span {
    background-color: #fff;
    height: 22px;
    display: flex;
    padding: 0 7px;
    align-items: center;
    cursor: pointer;
    transition: background-color ease 0.3s;
    &:hover {
      background-color: #eee;
    }
  }
}
